#Band{
    background-color: beige;
    padding: 4px ;
}

#Logo {
    display: block;
    width: 10%;
    position:relative;
    float:left;
    clip-path: circle();
    }

#ProfilePics {
    display: block;
    width: 30%;
    margin: 0 15px 0 0;
    float:left;
    clip-path: circle();
}

#tabLarge{
    display: inline-block;
    margin-left: 140px;
}

#tabSmall{
    display: inline-block;
    margin-left: 40px;
}

.content{
    background: #f5f5dc;
    max-width: 1000px;
    margin: 30px auto;
    padding:  20px 30px;
    border-radius: 70px 10px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}